<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sam_front_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,116},{131,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,108}}</string>
			<key>sourceSize</key>
			<string>{131,108}</string>
		</dict>
		<key>sam_front_HAT.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,121},{131,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,108}}</string>
			<key>sourceSize</key>
			<string>{131,108}</string>
		</dict>
		<key>sam_right_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{163,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{163,117}}</string>
			<key>sourceSize</key>
			<string>{165,117}</string>
		</dict>
		<key>sam_right_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,116},{154,112}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{154,112}}</string>
			<key>sourceSize</key>
			<string>{160,112}</string>
		</dict>
		<key>sam_right_HAT_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,2},{160,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,112}}</string>
			<key>sourceSize</key>
			<string>{160,112}</string>
		</dict>
		<key>sam_up_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,336},{111,121}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{111,121}}</string>
			<key>sourceSize</key>
			<string>{111,125}</string>
		</dict>
		<key>sam_up_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,336},{109,130}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{109,130}}</string>
			<key>sourceSize</key>
			<string>{109,132}</string>
		</dict>
		<key>sam_up_HAT_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,336},{111,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,125}}</string>
			<key>sourceSize</key>
			<string>{111,125}</string>
		</dict>
		<key>sam_up_HAT_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,336},{111,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,125}}</string>
			<key>sourceSize</key>
			<string>{111,125}</string>
		</dict>
		<key>sam_excite.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,336},{115,108}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,0},{115,108}}</string>
			<key>sourceSize</key>
			<string>{131,108}</string>
		</dict>
		<key>sam_excite_HAT.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,226},{115,108}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,0},{115,108}}</string>
			<key>sourceSize</key>
			<string>{131,108}</string>
		</dict>
		<key>sam_right_HAT_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,2},{154,112}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{154,112}}</string>
			<key>sourceSize</key>
			<string>{160,112}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>sam_sprite_sheet.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:18597dd5a61b8ea60641e80d45cec245$</string>
		<key>textureFileName</key>
		<string>sam_sprite_sheet.png</string>
	</dict>
</dict>
</plist>
